# Constance de Salm Geo-Data #
Adding Geo-Data to the dataset of Constance de Salm.

In [1]:
import pandas as pd
import numpy as np
import geocoder

We import the data from the csv-File.

In [2]:
df_cds = pd.read_csv("Donnees_Lettres/20211116_Constance_de_Salm_Korrespondenz_Inventar_Briefe.csv",
                     encoding='utf8',
                     sep=';')

To avoid downloading the geo-Data for all at once.

In [3]:
cols = ('id', 'Geonames (Ausstellungsort)', 'Geonames (Orte)')
geo_data = []
for i, v in df_cds.iterrows():
    geo_data.append((i, v['Geonames (Ausstellungsort)'], v['Geonames (Orte)']))
geo_data = pd.DataFrame(geo_data, columns=('id', 'Geonames (Ausstellungsort)', 'Geonames (Orte)'))
geo_data

,id,Geonames (Ausstellungsort),Geonames (Orte)
0,0,NaN,NaN
1,1,https://www.geonames.org/2980291,NaN
2,2,https://www.geonames.org/2894637,NaN
3,3,https://www.geonames.org/3031009,NaN
4,4,NaN,NaN
...,...,...,...
10720,10720,https://www.geonames.org/2894637,https://www.geonames.org/2972191; https://www....
10721,10721,NaN,https://www.geonames.org/2989317; https://www....
10722,10722,https://www.geonames.org/2894637,NaN
10723,10723,https://www.geonames.org/2988507,NaN
10724,10724,https://www.geonames.org/2820919,https://www.geonames.org/2925533

In [4]:
places = pd.DataFrame(columns=['url', 'long', 'lat'])
urls = []
for i, v in geo_data.iterrows():
    try:
        urls.append(v['Geonames (Ausstellungsort)'])
    except TypeError:
        True
    try:
        for j in v['Geonames (Orte)'].split('; '):
            urls.append(j)
    except TypeError:
        True
    except AttributeError:
        True
urls = set(urls)
for u in urls:
    if type(u) is str:
        g = geocoder.geonames(u[25:], method='details', key='ELoe')
        places = places.append({'url': u, 'long': g.lng, 'lat': g.lat}, ignore_index=True)
places

Error For input string: "" from JSON {'status': {'message': 'For input string: ""', 'value': 14}}

                                  url      long       lat
0    https://www.geonames.org/2990611   2.26965   48.8846
1    https://www.geonames.org/2869894   6.44172  51.18539
2    https://www.geonames.org/3205815   6.13364  51.11554
3    https://www.geonames.org/3036784   2.78186  50.29301
4    https://www.geonames.org/2782113  13.33333  47.33333
..                                ...       ...       ...
594  https://www.geonames.org/2898098   7.34471  51.14979
595  https://www.geonames.org/2910831   9.73322  52.37052
596  https://www.geonames.org/2918271  11.30678  50.52463
597  https://www.geonames.org/2800438    5.6341   50.5828
598  https://www.geonames.org/2748179   5.91545  51.97198

[599 rows x 3 columns]

In [5]:
places.to_csv('Donnees_Lettres/CdS_Places.csv', encoding='utf8')